#profile-logout-btn {
    position: fixed;
    top: 20px;
    right: 20px;
}

.profile-container {
    display: block;
    width: 300px;
    height: 60px;
    margin: 80px auto 0px auto;
}

#armadillo-icon-profile {
    position: fixed;
    top: 0px;
    left: 20px;
    width: 120px;
}