#edit-email-textarea {
  border: 1px solid rgb(181, 181, 181);
  width: 100%;
  color: gray;
  border-radius: 3px;
}

#edit-email-textarea:focus {
  border: 1px solid rgb(96, 199, 255);
}

#email-content-static {
  padding: 1px 2px 2px 2px;
  width: 272px;
  font-size: 10pt;
  margin-top: 3px;
}

#email-content-p {
  white-space: normal;
  overflow-y: hidden;
  border-radius: 2px;
  min-height: 20px;
  font-size: 8pt;
}